{% extends 'home/base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load custom_filters %}

{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post">
  {% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}

    {% bootstrap_form_errors form %}
    {% bootstrap_form form %}
    {% endfor %}
    {% else %}
    {% with form_class_name=wizard.form|get_class_name %}
      {% if form_class_name == 'ContactForm' %}
        {% include "notification/contact_form.html" %}
      {% else %}
          {% bootstrap_form wizard.form %}
      {% endif %}
    {% endwith %}

    {% endif %}
  {% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">First step</button>
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Prev step</button>
  {% endif %}
  <!-- <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.next }}">Next step</button> -->
  {% bootstrap_button button_type="submit" content="Save" %}
</form>
{% endblock %}