<script src=  "/static/npm_components/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="/static/npm_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/npm_components/bootstrap-select/dist/css/bootstrap-select.css" />
<script src="/static/npm_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>



<select id="lang"  class="selectpicker" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} multiple>{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
    <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
    {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
    </optgroup>{% endif %}{% endfor %}
</select>

